<div class="container">
  <div class="row">
    <div class="col">
      <div [ngSwitch]="account !== null">
        <h2>
          <span *ngIf="account" jhiTranslate="home.title" [translateValues]="{ firstName: account.firstName }"
            >Welcome "{{ account.firstName }}"!</span
          >
        </h2>

        <p class="lead" *ngSwitchCase="true" jhiTranslate="home.subtitle">Deine Terminübersicht:</p>

        <div *ngSwitchCase="true">
          <jhi-mwl-calendar-component [account]="account"></jhi-mwl-calendar-component>
        </div>

        <div *ngSwitchCase="false">
          <h2><span jhiTranslate="home.notLoggedInTitle">Please log in!</span></h2>
          <h6><span jhiTranslate="home.text">Welcome to the fire inspection management system!</span></h6>
          <p>
            <img
              src="https://images.unsplash.com/photo-1593091285708-8dc58f9ff4b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
              style="width: 100%; height: auto"
              alt="Burning house"
            />
          </p>
          <button type="button" class="btn btn-primary" (click)="login()" jhiTranslate="home.signin">Sign in</button>
        </div>
      </div>
    </div>
  </div>
</div>
